body {
  font-family: Arial, sans-serif;
  background: rgb(220, 219, 219);
  text-align: center;
  padding: 40px;
}

.advice {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  /* background-color: #e6f7ff; */
    border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0072a3;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-transform: capitalize;
}


